*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    width: 100%;
    height: 60px;
    background-color: black;
}

nav p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 55px;
    float: left;
    padding: 0 24px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}   

nav ul li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 19px 14px;
    display: block;
    text-decoration: none;
}

nav ul li a:hover, nav ul li.current a{
    background-color:grey;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    width: 180px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color: grey;
}

.MemberProfileContainer, .MemberBookContainer, .MemberUpdateProfileContainer, .ChangePasswordContainer, .MemberHomeContainer, .CartContainer, .MemberTransactionHistoryContainer{
    padding: 16px;
    background-color: white;
}

.MemberProfileContainer h1, .MemberBookContainer h1, .MemberUpdateProfileContainer h1, .ChangePasswordContainer h1, .CartContainer h1, .MemberTransactionHistoryContainer h1{
    color:black;
    font-family: 'Poppins', sans-serif;
}

.MemberProfileContainer hr, .MemberBookContainer hr, .MemberUpdateProfileContainer hr, .ChangePasswordContainer hr, .CartContainer hr, .MemberTransactionHistoryContainer hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.MemberUpdateProfileContainer input[type=text], input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display:inline-block;
  border: none;
  background: #f1f1f1;
}

.CartContainer input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display:inline-block;
  border: none;
  background: #f1f1f1;
}

.ChangePasswordContainer input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display:inline-block;
  border: none;
  background: #f1f1f1;
}

.MemberUpdateProfileContainer [type=text]:focus, [type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.ChangePasswordContainer [type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.UpdateBtn, .ChangePassBtn{
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
}

.MemberHomeContainer h1{
    margin-bottom: 50px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.HelloLabel{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}